/* Hamburger Menu */
.hamburger {
  align-self: center;
  flex-direction: column;
  justify-content: center;
  width: 35px;
  height: 35px;
  flex-shrink: 0;
  cursor: pointer;
  position: relative;
  // transition: background 0.2s linear;  
  display: none;
  background-color: var(--green);
  border-radius: 50%;
  row-gap: 3px;
  padding-left: 9px;
  padding-right: 9px;

  @media (max-width: 1199px) {
    display: flex;
  }
  @media(max-width: 370px){
    width: 30px;
    height: 30px;
  }
}

.hamburger div {
  align-self: flex-start;
  height: 2px;
  width: 100%;
  background: var(--milk);
  border-radius: 5px;
}

.hamburger .meat {
  width: 100%;
}

.top-bun.active,
.meat.active,
.bottom-bun.active {
  opacity: 0;
}