// Footer
.footer {
  &W {
    background-color: #a1ad92;
    padding: 40px 40px 16px 40px;
    border-radius: 35px;
    @media(max-width: 991px){
      padding: 23px 20px;
      border-radius: 22px;
    }
  }

  &T {
    display: flex;
    justify-content: space-between;
    column-gap: 80px;
    width: 100%;

    @media(max-width: 991px) {
      flex-direction: column;
      row-gap: 20px;
    }

    &L {
      display: flex;
      column-gap: 50px;
      justify-content: space-between;
      width: 100%;

      @media(max-width: 1199px) {
        column-gap: 30px;
        flex-direction: column;
        row-gap: 20px;
      }
    }
  }

  &Form {
    width: 745px;
    flex-shrink: 0;
    border-radius: 20px;
    background-color: #f4f1e4;
    padding: 48px 40px;
    display: flex;
    column-gap: 55px;

    @media(max-width: 1400px) {
      width: 634px;
    }

    @media(max-width: 1199px) {
      width: 440px;
      flex-direction: column;
      row-gap: 15px;
      padding: 32px;
    }

    @media(max-width: 991px) {
      width: 100%;
      padding: 30px 20px;
      border-radius: 20px;
    }

    &R {
      width: 100%;
    }

    &Title {
      font-weight: 600;
      font-size: 40px;
      line-height: 88%;
      font-family: var(--font-family-second);

      @media(max-width: 1199px) {
        font-size: 32px;
      }

      @media(max-width: 991px) {
        font-size: 28px;
        font-weight: 500;
        line-height: 125%;
      }
    }
  }

  &Logo {
    display: block;

    &:hover {
      opacity: .85;
    }

    img {
      width: 135px;
    }
  }

  .socials {
    ul {
      li {
        a {
          width: 33px;
          height: 33px;
        }
      }
    }
  }

  .develop {
    &:hover {
      opacity: .85;
    }
  }
}

.footerNavTitle {
  margin-bottom: 18px;
  font-weight: 600;
  font-size: 30px;
  line-height: 80%;
  color: #fff;
  font-family: var(--font-family-second);

  @media(max-width: 1199px) {
    font-size: 18px;
    line-height: 120%;
    margin-bottom: 10px;
  }
}

.footerNav {
  ul {
    @media(max-width: 991px){
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      gap: 0;
    }
    li {
      @media(max-width: 991px){
        grid-column: 6 span;
      }
      &:not(:last-child) {
        margin-bottom: 20px;

        @media(max-width: 1199px) {
          margin-bottom: 10px;
        }
      }

      a {
        font-size: 20px;
        line-height: 125%;
        color: #fff;

        @media(max-width: 1199px) {
          font-size: 16px;
        }

        &:hover {
          color: var(--milk);
        }
      }
    }
  }
}