.intro {
  @media(max-width: 1199px) {
    padding-top: 0;
  }

  &Serv {
    &Slider {
      overflow: visible;
      padding-right: 120px;

      @media(max-width: 1400px) {
        padding-right: 60px;
      }
    }

    &Slide {
      background: rgba(161, 173, 146, 0.4);
      border: 1px solid var(--obvodka-dlya-plashek-i-knopok);

      &Title {
        @media(max-width: 991px) {
          font-weight: 500 !important;
        }

        &Descr {
          @media(max-width: 991px) {
            font-size: 14px;
          }
        }
      }

      .button {
        @media(max-width: 991px) {
          font-weight: 500;
          font-size: 14px;
        }
      }
    }
  }

  .breadcrumbs {
    margin-bottom: 100px;
    @media(max-width: 1400px){
      margin-bottom: 50px;
    }
    @media(max-width: 1199px){
      margin-bottom: 30px;
    }

    &.mb-40 {
      margin-bottom: 40px;
      @media(max-width: 991px){
        margin-bottom: 20px;
      }
    }
  }
}

.introAdvItem {
  background: rgba(244, 241, 228, 0.4);
}
.introAboutImg {
  @media(max-width: 1199px){
   height: 600px; 
  }
  @media(max-width: 767px){
    height: 500px;
  }
  @media(max-width: 575px){
    height: 330px;
  }
}