.intro {
  &Serv {
    &Slider {
      overflow: visible;
      padding-right: 120px;
    }

    &Slide {
      background: rgba(161, 173, 146, 0.4);
    }
  }

  .breadcrumbs {
    margin-bottom: 100px;
  }
}

.introAdvItem {
  background: rgba(244, 241, 228, 0.4);
}